<div id='by-turn-timer-popout' class='app' data-appid='{{appId}}'>
    <div id='by-timer-bar-container'>
    </div>
    <div id='by-timer-controls'>
        <a
            class='by-timer-control-button'
            data-tooltip="COMBAT.TurnNext"
        >
            <i class='fas fa-arrow-right'></i>
        </a>
        <div style='flex-grow: 1;'></div>
        <a
            class='by-timer-control-button'
            data-tooltip="COMBAT.TurnNext"
        >
            <i class='fas fa-arrow-right'></i>
        </a>
    </div>    
</div>