<div class='by-timer-container'>
	<div class="by-bar-warning" style="color: {{warning_glow_color}};">
		<div class='by-timer-bar' style="background-color: {{bar_color}};"></div>
	</div>
    <div>
		<span class='by-timer-text'>-</span>
	</div>
</div>